.wpaas-domain-notice {
    border-left: 1px solid #C3C4C7;
}

.wpaas-domain-notice p {
    display: flex;
    align-items: center;
}

.wpaas-domain-notice p a {
    display: flex;
    align-items: center;
    margin: 0 3px;
}

.wpaas-domain-notice svg {
    margin: 0 3px;
}

.wpaas-domain-notice .notice-dismiss {
    bottom: 0;
}